.larg{
    width: 540px;
    height: 710px;
    background-color: wheat;
    padding: 20px;
}


.main{
    width: 500px;
    height: 670px;
    background-color: #9cbc2c;
    padding: 20px;
    border-radius: 5px;
}
.inputdiv{
    width: 500px;
    height: 30px;
    border: 1px solid white;
    background-color: #b9cf6a;
    margin-top: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.heading{
    width: 200px;
    height: 30px;
    /* background-color: blueviolet; */
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
}
.input{
    margin-top: 10px;
    padding-left: 10px;
}
.text{
    width: 500px;
    height: 100px;
    border: 1px solid white;
    background-color: #b9cf6a;
    border-radius: 5px;
}

.add{
    margin-top: 5px;
    padding-left: 10px;
    
}

.div3{
    width:500px;
    height: 70px;
    border: 1px solid white;
    background-color: #b9cf6a;
    margin-top: 5px;
    display: flex;
    align-self: center;
    border-radius: 5px;
}
.div3input{
    margin-top: 40px;
}

.sub{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.subin{
    font-size: 20px;
    border-radius: 15px;
    background-color: #384313;
    color: aliceblue;
}